/* styles for detected screens  400px < width <= 600px  */


/* |&|font sizes subsection */

html {
    font-size: 10px;
    /* easy HCF to work with */
}

p,
li,
table,
button,
input,
select,
textarea,
fieldset legend,
footer,
form {
    font-size: 1.5rem;
}

sub,
sup,
figcaption {
    font-size: 1rem;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.5rem;
}

nav li a:link {
    font-size: 1.5rem;
}

/*
@media all and (max-width: 720px){
    nav li a:link{
       font-size: 1.5rem;
    }    
}
*/

/* |&|GENERAL SITE-WIDE DEFAULT STYLES */

html {
    padding-top: 4px;
    padding-bottom: 12px;
}

.configurable-background {
    background-color: #6495ed;
    /*cornflour blue*/
}

body {
    width: 94%;
    padding: 4px;
    border: solid black 4px;
}

/* section p and h3 left margin + padding + border set to line up */
p {
    margin: 6px;
    padding: 6px;
}

/*-------------------------------------------------------------*/

/* anchor pseudo-classes in LVHA order. Active always last */
/* THESE DEFAULTS ARE DIFFERENT FOR TOUCH SCREEN DEVICES*/

a:link {
    color: #000000;
    text-decoration: underline;
}

a:visited {
    color: #800000;
}

/* we never remove tab-to outline without replacing it */
/*
*:focus {
  outline: 3px dashed #228bec;
  outline-offset: 0;
}
*/
a:focus {
    background-color: aliceblue;
    font-size: 1.2em;
    outline: 2px solid aquamarine;
    text-decoration: none;
}

a:active {
    color: blueviolet;
    text-decoration: none;
}

/*-------------------------------------------------------------*/

/* section p and h3 left margin + padding + border set to line up */
section header h3,
h2 {
    margin: 6px;
    padding: 6px;
}

ul,
ol {
    margin-top: 4px;
    margin-bottom: 4px;
}

li {
    padding-top: 1px;
    margin-top: 1px;
    /*line-height: 1;*/
}

fieldset {
    padding: 4px;
    margin: 4px;
}

img,
video,
audio {
    width: 300px;
    padding: 0px;
}

figure {
    margin: 6px;
}

figcaption {
    font-style: italic;
}

/*-------------------------------------------------------------*/
/* page header styles*/

header.page-head {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    /*background-image: url("../media/images/footpath-20.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1.0;
    border: #6495ed 0px solid;
    border-radius: 1em;
    padding: 0.72rem 0;
}

/* toggle headings using nav burger when sticky scrolling */
.toggled-heading {
    display: block;
}

.toggled-heading.hidden {
    display: none;
}

/*-------------------------------------------------------------*/
/* header navigation styles*/

#headerNav li a:hover {
    text-decoration: none;
}

#headerNav li a:focus {
   text-decoration: none;
}

#headerNav li a:active {
     text-decoration: none;
}

/*-------------------------------------------------------------*/
/* page footer styles*/

/* anchor pseudo-classes in LVHA order. Active always last */
/*link styles on touchscreens*/
.footer-nav ul li a:link {
    text-decoration: underline;
}

.footer-nav ul li a:focus {
    background-color: #1B1B1B;
    font-size: 1.2em;
    outline: 2px solid aquamarine;
    text-decoration: none;
}

.footer-nav ul li a:active {
    color: #ffffff;
    text-decoration: none;
}

/*-------------------------------------------------------------*/
/* card page layout styles*/
main {
    /* single column when not full desktop screen */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
    column-gap: 2rem;
}

/*-------------------------------------------------------------*/
/* navigation styles*/

/* TEST
.newIcon::after{
  content: url(../media/images/favicon0.ico);
}
*/

#headerNav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(20px, auto);
    column-gap: 4px;
    row-gap: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

#headerNav li {
    list-style-type: none;
    text-align: center;
    margin: 0px 4px;
}

.nav-icon-container {
    display: block;
    /* define maximum container limit of clickable icon*/
    width: 150px;
    height: 25px;
    margin: 0 auto;
    font-size: 1.5rem;
}

.nav-icon-container #nav-icon-hitzone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* hit zone becomes size of parent block */
    width: inherit;
    height: inherit;
    cursor: pointer;

}

.nav-icon-container #nav-icon-hitzone i {
    color: #6495ed;
    width: auto;
}

.nav-icon-container #nav-icon-hitzone:focus {
    background-color: initial;
    outline: none;
}

#headerNav .nav-grid {
    display: none;
}

#headerNav .nav-grid.open-grid {
    display: grid;
}

/*-------------------------------------------------------------*/
/* custom button styles*/
.red-button {
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: linear-gradient(to bottom, #f24537 5%, darkred 100%);
    background-color: darkred;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Ubuntu Mono', monospace, serif;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #961108;
}

.red-button:hover {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color: darkred;
}

.red-button:active {
    position: relative;
    top: 1px;
}

/*-------------------------------------------------------------*/
/* custom dialog box styles CANCEL and OK buttons*/
.dlg-container {
    width: 300px;
}

/*-------------------------------------------------------------*/
/* table styles*/

table,
table p {
    font-size: 1rem;
}

td,
th {
    padding: 2px 4px;
}

td p,
th p {
    margin: 4px 1px;
    padding: 4px 1px;
}

caption {
    padding: 8px;
}

.morse-field {
    padding-left: 2px;
}

/*-------------------------------------------------------------*/
/* form styles*/

.form-container {
    width: 100%;
    margin: 3em auto;
    max-width: 512px;
}