/* TODO: When on server, npm install --save normalize.css */

/* styles for detected screens width > 600px  */
/* Searchable section title comments in this file begin with |&| */

/*#8b0000; /*darkred*/
/*#a52a2a; /*brown*/
/*#663399; /*rebeccapurple*/
/*#fff; /*white*/
/*#00008b; /*darkblue*/
/*#000000; /*black*/
/*#800000; /*maroon*/
/*#008000; /*green*/
/*#90ee90; /*lightgreen*/
/* rgb(221, 221, 221)  == #ddd */
/* #6495ed; rgb(100, 149, 237) cornflower blue*/
/* #36261D visited anchor 'brown'*/

/* |&|GENERAL ELEM TYPE DEFAULT STYLES */

/* |&|local fonts subsection */

/* /////////// FiraMono fonts /////////////// */

@font-face {
    font-family: FiraMonoReg;
    src: url(./fonts/FiraMono-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: FiraMonoMed;
    src: url(./fonts/FiraMono-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: FiraMonoBold;
    src: url(./fonts/FiraMono-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

.firaMonoRegFont {
    font-family: FiraMonoReg;
}
.firaMonoMedFont {
    font-family: FiraMonoMed;
}
.firaMonoBoldFont {
    font-family: FiraMonoBold;
}

/* /////////// FiraSans fonts /////////////// */

@font-face {
  font-family: FiraSansReg;
  src: url(./fonts/FiraSans-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: FiraSansMed;
  src: url(./fonts/FiraSans-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: FiraSansBold;
  src: url(./fonts/FiraSans-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.firaSansRegFont {
  font-family: FiraSansReg;
}
.firaSansMedFont {
  font-family: FiraSansMed;
}
.firaSansBoldFont {
  font-family: FiraSansBold;
}
.monospaced {
  font-family: monospace;
}

/* |&|font sizes subsection */

* {
  box-sizing: border-box;
}

html {  
  font-size: 10px; /* easy HCF to work with */ 
  line-height: 1.6;
  box-sizing: border-box; 
}
p, li, table, button, input, select, textarea, fieldset legend, footer, form {
    font-size: 1.5rem;
}
sub, sup, figcaption {
    font-size: 1rem;
}
h1 {
    font-size: 2.25rem;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.75rem;
}
nav li a:link {
    font-size: 2rem;
}

/* |&|other font properties subsection */

/*  ...  */

/*-------------------------------------------------------------*/
/* general styles (more specific styles follow)*/
/* |&|GENERAL SITE-WIDE DEFAULT STYLES */

html{
  font-family: FiraSansReg, FiraMonoReg, monospace, sans-serif, 'Ubuntu Mono';
  padding-top: 8px;
  padding-bottom: 12px;
}

.configurable-background{
  background-color: #6495ed; /*cornflowerblue*/
}

.inline-list {
  padding-left: 20px;  
}

.inline-list li {
  font-size: 2.5rem;
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin: 10px 12px;
}

body{
    background-color:#ddd;
    background-color:#fff;
    width: 96%;
    width: calc(94% - 2px);
    margin: 1rem auto;
    border-radius: 10px;
    padding: 6px;
    border: solid black 6px;
}

/* section p and h3 left margin + padding + border set to line up */
p{
    margin: 8px;
    padding: 8px;
}

/* anchor pseudo-classes in LVHA order. Active always last */
a:link {
    color: #000000;
}
a:visited {
    color: #800000;
}
a:hover{
    text-decoration: none;
}
/* we never remove tab-to outline without replacing it */
a:focus {
    background-color: aliceblue;
    font-size: 1.2em;
    outline: 2px solid aquamarine;
}
a:active {
    color: blueviolet;
}

abbr:hover {
  cursor: help;
}

/* section header h3 */
/* section p and h3 left margin + padding + border set to line up */
section header h3{
    margin: 8px;
    padding: 8px;
    /* cascading stuff... */
    text-align: left;    
    border: 0px;
}

ul, ol{
    margin-top: 6px;
    margin-bottom: 6px;
}

li{
    padding-top: 1px;
    margin-top: 1px;
}

fieldset { 
    background:none;
    border: #008000 3px solid;
    border-radius: 1em;
    padding: 8px;
    margin: 6px;
}

fieldset legend{
    font-weight: bold;
    color: #8b0000; /*darkred*/
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

code {
    display:block;
    width: auto;
    height: auto;
    white-space: pre-wrap;
    background: #d1dffa;
}

pre {
    width: auto;
    height: auto;
    white-space: pre-wrap;
    background: #fae6d1;
    background: #d1dffa;
}

img, video, audio{
    width: 400px;
    padding: 4px;
}

figure{
    margin: 8px;
    margin-bottom: 2px;
}

/* doesn't work */
figure.fig-table {
    max-width: 100%;
    overflow-x: scroll;
}

figcaption{
    font-style: italic;
}

iframe {
    border: 2px #000 solid;
    border-radius: 1em;
    overflow: scroll;
}

.mapEmbed, .audioEmbed, .videoEmbed{
    width: 100%;
}
.mapEmbed {
    height: 250px;
}
.audioEmbed {
    height: 350px;    
}
.videoEmbed {
    height: 315px;
}

/*-------------------------------------------------------------*/
/* page footer styles*/

footer {
  /* cascading stuff... */
  padding: 8px;    
  margin-top: 20px;
  margin-bottom: 0px;
  border-top: 4px #800000 solid;
  /*border-bottom: 4px #800000 solid;*/
  border-radius: 0 0 10px 10px;
  color: #fff;
  background-color: #000000;
}

footer p {
  padding: 0px;
  margin: 0px;
}

/*-------------------------------------------------------------*/
/* page header styles*/

header.page-head {
  position: static;
  top: 0; 
  background-image: url("../media/images/footpath-20.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1.0;
  border: #6495ed 0px solid; /*#800000 1px solid; maroon*/
  border-radius: 1em;
  padding: 0.72rem 0;
  z-index: 1; /*staying above outside-of-normal-flow stuff */ 
}

header.page-head h1{
    margin: 4px 8px;
    padding: 4px;    
    /* cascading stuff... */
    line-height: 1;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #800000;    
    border-top: 4px #800000 solid;
    border-bottom: 4px #800000 solid;
}

header.page-head h2{
    margin: 2px 4px;
    padding: 2px 4px;
    /* cascading stuff... */
    line-height: 1;
    text-align: center;
    text-shadow: 1px 1px 2px #800000;
    text-transform: capitalize;
    color: #fff;    
}

.page-head.pre {
  display: block;
  background-image: none;
  color: #fff;
  background-color: green;
  padding: 0.5rem 0;
}

/*-------------------------------------------------------------*/
/* card page layout styles*/
/* ||GRID||LAYOUT||HERO|| */

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  margin: 1rem;
}

section.site-app-card, section.project-card, aside.sidebar{
  border: 2px solid #6495ed;
  /*border-radius: 1em;*/
  background-color: #fff;
}
.page-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(160px, 1fr));
  row-gap: 4rem;
  column-gap: 2rem;
  /* fallback for browsers without grid layout support */
  float: left;
  width: 60%;
}

.sidebar {
  /* fallback for browsers without grid layout support */
  float: right;
  width: 30%;
}

.page-intro-para {
  grid-column: 1 / 3;
  /* fallback for browsers without grid layout support */
  display: block;
  width: 100%;
}
section.site-app-card {
  grid-column: 1 / 3;
  background-color: #fff;
  /* fallback for browsers without grid layout support */
  display: block;
  width: 100%;
}

#background_colour ul {
  padding-left: 10px;
}

#background_colour ul li {
  list-style-type: none;
  padding-left: 0px;
}

#background_colour ul li input[type="color"]{
  width: 120px;
  height: 30px;
  margin: 20px 15px;
  padding: 2px;
  border: 2px solid black;
}

#forgetMe {
  display: none;
}

section.project-card {
  /* fallback for browsers without grid layout support */
  width: 45%;
}
/* an on-grid container of hero articles */
.hero-article-container {
  grid-column: 1 / 3;
  /* fallback for browsers without grid layout support */
  display: block;
  width: 100%;
}
/* has size and background properties (except an image). exists either inside container in page-content or independently in body of page, or anywhere else */
.hero-article {
  width: 100%;
  height: 300px;  
  background-size: cover;
  background-repeat: no-repeat;  
  opacity: 1.0;
  display: flow-root;
}

#hero-background-cube-01 {
  background-image: url("../media/images/hero-images/rubiks-cube-02-2400.jpg");
  background-position: center center;
}
#hero-background-cube-02 {
  background-image: url("../media/images/hero-images/rubiks-cube-03-2400.jpg");
  background-position: left center;
}
#hero-background-bash-vscode-01 {
  background-image: url("../media/images/hero-images/bash-vscode-01-1250.jpg");
  background-position: center center;
}

.hero-message {
  width: 48%;
  height: 300px;
  color: #fff;
  background-color: rgba(100, 149, 237, 0.7);
  padding: 1rem; /*10px*/
  text-transform: none;  
}

.message-left {
  float: left;
  margin-right: 15px;
  text-align: left;
}
.message-right {
  float: right;
  margin-left: 15px;
  text-align: right;
}

.project-card figure{
  margin: 0px;
  padding: 0px;
}
.project-card figcaption{
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  padding: 1rem;
}

.project-card img {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.project-card .card-image {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.project-card .card-body {
  font-weight: normal;
  font-style: normal;
  padding: 1rem;
  margin: 0;
  height: 240px;
  overflow-x: scroll;
}

.project-card .card-body p {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.project-card .card-topfooter {
  font-weight: normal;
  font-style: normal;
  padding: 1rem;
  margin: 0;
  border-top: 1px solid #d8d8d8;
  height: 72px;
  background-color: aliceblue;
  overflow: scroll;
}

.project-card .card-topfooter p {
  padding: 0;
  margin: 0;
}

.project-card .card-bottomfooter {
  font-weight: normal;
  font-style: normal;
  padding: 1rem;
  margin: 0;
  border-top: 1px solid #d8d8d8;
  height: 100px;
  background-color: beige;
  overflow: scroll;
}

.project-card .card-bottomfooter p {
  padding: 0;
  margin: 0;
}

@supports (display: grid) {
  .page-content, .sidebar, .page-intro-para, section.site-app-card, section.project-card, .hero-image {
    width: auto;
  }
}

/*-------------------------------------------------------------*/
/* navigation styles*/
nav ul{  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(20px, auto);
  column-gap: 6px;
  row-gap: 6px;
  padding-left: 6px;
  padding-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

nav li{
  list-style-type: none;
  text-align: center;
  margin: 0px 4px;
}

nav li a:link{
  color: #00008b; /*darkblue*/
  background-color: rgba(221, 221, 221, 0.72); /* == #ddd */
  border: 1px solid #000000; /*black*/
  padding: 4px;
  white-space: nowrap;
  border-radius: 6px;
  display: inline-block;
  width: 100%;    
}

nav li a:visited {
  color: #800000; /*maroon*/
  /*border-color: #6495ed;
  background-color: rgba(221, 221, 221, 0.72);;*/
}

nav li a:hover {
  background-color: #6495ed; /* cornflour blue */
  color: #fff;
  font-weight: bold;
}

nav li a:focus {
  background-color: initial;
  color: #fff;
  outline: auto;
}

.nav-icon-container{
  display: none;
}

/*-------------------------------------------------------------*/
/* custom button styles*/
.red-button {
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:linear-gradient(to bottom, #f24537 5%, darkred 100%);
  /*background-color: darkred;*/
  border-radius:6px;
  border:1px solid #d02718;
  display: block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Ubuntu Mono', monospace, serif;
  font-size:18px;
  font-weight:bold;
  padding:6px 24px;
  margin: 1.5rem;
  text-decoration:none;
  text-shadow:0px 1px 0px #961108;
}
.red-button:hover {
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color:darkred;
}
.red-button:active {
  position:relative;
  top:1px;
}
.blue-button {
	box-shadow:inset 0px 39px 50px -24px #9fb4f2;
	background:linear-gradient(to bottom, #9eb5de 5%, #476e9e 100%);
	background-color:#9eb5de;
	border-radius:6px;
	border:1px solid #516296;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Ubuntu Mono', monospace, serif;
  font-size:18px;
  font-weight:bold;
  padding:6px 24px;
  margin: 1.5rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.blue-button:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #9eb5de 100%);
	background-color:#476e9e;
}
.blue-button:active {
	position:relative;
	top:1px;
}

/*-------------------------------------------------------------*/
/* custom dialog box styles CANCEL and OK buttons*/
.dlg-container{
  width: 400px;
  /* cascading styles... */
  position: absolute;
  left: 50%;
  top: -30%;
  transform: translateX(-50%) translateY(-50%);  
  background: #fff;
  padding: 10px;
  border: 2px solid #ddd;
  box-shadow: 1px 1px 5px 1px #ccc;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s linear 0s;
  /* stay above the freeze layer (z-index: 2) */
  z-index: 3;
  font-size: 1.5rem;
}

.dlg-header{
  padding: 10px;
  font-weight: bold;
  background: #575757;
  color: #f5f5f2;
}

.dlg-body{
  padding: 10px;
}

.dlg-input-elem{    
  border: 1px solid #ddd;
  outline: none;
  width: 90%;
  height: 30px;
}

.dlg-input-elem :focus{
  box-shadow: inset 0px 0px 10px 3px #f6f6f6;
}

.dlg-footer{
  text-align: center;
  background: #f5f5f2;
  padding: 3px 0;
}

.dlg-footer a{
  display: inline-block;
  width: 100px;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #eeeeee;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: 2px 2px 4px 0px #ccc;
}

.dlg-footer a:active{
  box-shadow: inset 2px 2px 4px 0px #ccc;
  color: #666;
}

.freeze-layer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* stay above the header.page-head (z-index: 1) */
  z-index: 2;
}



/*-------------------------------------------------------------*/
/* table styles*/

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

table, table p {
  font-size: 1.5rem;
}
  
td, th {
    border: 1px solid #008000;
    padding: 4px 8px;
}
  
th {
    /*background-color: #E3F2E8;*/
    background-color: #efefeb; /*rgb(239,239,235) */
}

tr:nth-child(even) {
    background-color: #E3F2E8;
}
  
td {
    text-align: center;
}

tfoot td {
    text-align: left;
}
  
caption {
    padding: 10px;
}

.morse-field { /* perhaps more efficient to use nth-child() to target this column, even if class has other uses */
    white-space: nowrap;
    padding-left: 4px;
    text-align: left;
}

/* left align the notes content */
tbody tr td:nth-child(6) {
    text-align: left;
}

colgroup col:nth-child(2) {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

/*-------------------------------------------------------------*/
/* form styles*/

section.site-app-card.site-form {
  font-family: "FiraSansReg", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0;
}

#createAccountApp {
  background-color: cadetblue;
}

#aboutYouApp {
  background-color: lightskyblue;
}

.form-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: 3em auto;
  max-width: 512px;
  overflow: hidden; /* so header doesn't cover our rounded corners */
}

.form-container header {
  background-color: blanchedalmond;
  border-bottom: 1px solid blueviolet;
  padding: 20px 40px;
}

.form-container header h2 {
  margin: 0;
  text-align: center;
}

.form {
  padding: 30px 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;/* space for 'out of normal flow' error strings */
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input, .form-control select, .form-control textarea {  
  border: 2px solid royalblue;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control.success input {
  border-color: palegreen;
}

.form-control.error input {
  border-color: crimson;
}

.form-control input:focus{
  outline: none;
  background-color: linen;
}

.form-control i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-control.success i.fa-check-circle {
  color: palegreen;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: crimson;
  visibility: visible;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control small abbr {
  cursor: pointer;
}

.form-control.error small {
  color: crimson;
  visibility: visible;
}

.form button {
  background-color: steelblue;
  border: 2px solid steelblue;
  border-radius: 4px;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}
.form button:active{
  box-shadow: inset 2px 2px 4px 0px linen;
  color: #fff;
}

/*-------------------------------------------------------------*/
/* END */

.verticalTest {
    writing-mode: vertical-rl;
    inline-size: 400px;
    block-size: 25vw;
    border: 4px solid #a52a2a; /*brown*/
    padding-inline-start: 20px;
    padding-block-start: 10px;

}
.verticalTest > p {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
