/* TODO: When on server, npm install --save normalize.css */
/* rgb(221, 221, 221)  == #ddd */
/* styles for detected screens width > 600px  */

html{
    font-family: 'Ubuntu Mono', monospace, serif;
    font-size: 1em;
    /*background-color: #6495ed; cornflour blue*/
    padding-top: 8px;
    padding-bottom: 12px;
}

.configurable-background{
    background-color: #6495ed; /*cornflour blue*/
}

body{
    background-color:#ddd;
    width: 90%;
    width: calc(90% - 2px);
    margin: auto;
    border-radius: 1em;
    padding: 6px;
    border: solid black 6px;
}

p{
    font-size: 1em;
    margin: 3px;
    padding-top: 8px;
    display: block;
    margin-right: 2em;
    line-height: 1.6em;
}

sub, sup {
    font-size: 0.5em;
}

a:link {
    color: #000000;
}

a:hover{
    text-decoration: none;
}

a:visited {
    color: #36261D;
}

header.page-head {
    background-image: url("../media/images/footpath-20.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1.0;
    border: brown 1px solid;
    border-radius: 1em;
}

h1{
    font-size: 2em;
    color:darkred;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    border: 0px;
}

header.page-head h1{
    border: solid rebeccapurple 3px;
    border-radius: 1em;
    color: #fff;
}

h2{
    font-size: 1.4em;
    text-align: left;
    margin-top: 4px;
    margin-bottom: 2px;
    padding: 2px;
    border: 0px;
}

header.page-head h2{
    text-align: center;
    color: #fff; 
}

h3{
    font-size: 1.2em;
    text-align: left;
    margin-top: 4px;
    margin-bottom: 2px;
    padding: 2px;
    border: 0px;
}

ul, ol{
    margin-top: 6px;
    margin-bottom: 6px;
}

li{
    font-size: 1em;
    padding-top: 1px;
    margin-top: 1px;
    line-height: 1;
    /*transform: rotate(0.005turn);*/
}

/*-------------------------------------------------------------*/
/* navigation styles*/
nav ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(20px, auto);
    column-gap: 6px;
    row-gap: 6px;
    padding-left: 30px;
    padding-right: 30px;
}

nav li{
    list-style-type: none;
    text-align: center;
    margin: 0px 4px;
}

nav li a{
    font-size: 1.2em;
    background-color: rgba(221, 221, 221, 0.72); /* == #ddd */
    border: 1px solid black;
    padding: 4px;
    white-space: nowrap;
    border-radius: 6px;
    display: inline-block;
    width: 100%;
    
}

nav li a:hover {
    background-color: aquamarine;
}

nav li a:visited {
    color: #36261D;
    /*border-color: #6495ed;
    background-color: rgba(221, 221, 221, 0.72);;*/
}

.nav-icon{
    display: none;
}

@media all and (max-width: 1000px){

    td, th {
        padding: 2px 4px;
    }

}

@media all and (max-width: 900px){
    nav li{
       font-size: 1em;
    }
    td, th {
        padding: 2px 4px;
    }

}

fieldset { 
    background:none;
    border: green 3px solid;
    border-radius: 1em;
    padding: 8px;
    margin: 6px;
    overflow: hidden;
}

fieldset legend{
    font-size: 1.2em;
    font-weight: bold;
    color:darkred;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: none;
}

section.form-content-block{
    border: 5px solid #6495ed;
    border-radius: 1em;
    padding: 4px;
    margin: 4px;
    margin-top: 20px;
}

code {
    display:block;
    width: auto;
    height: auto;
    white-space: pre-wrap;
    background: #d1dffa;
}

pre {
    width: auto;
    height: auto;
    white-space: pre-wrap;
    background: #fae6d1;
    background: #d1dffa;
}

img, video, audio{
    width: 400px;
    padding: 4px;
}

figure{
    margin: 8px;
    margin-bottom: 2px;
}

figcaption{
    font-size: 0.8em;
    font-style: italic;
}

.mapEmbed, .audioEmbed, .videoEmbed{
    width: 60%;
}
.mapEmbed {
    height: 250px;
}
.audioEmbed {
    height: 350px;    
}
.videoEmbed {
    height: 315px;
}
/*-------------------------------------------------------------*/
/* custom button styles*/
.red-button {
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #f24537 5%, darkred 100%);
    background-color: darkred;
    border-radius:6px;
    border:1px solid #d02718;
    display: block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Ubuntu Mono', monospace, serif;
    font-size:18px;
    font-weight:bold;
    padding:6px 24px;
    margin: 1em;
    text-decoration:none;
    text-shadow:0px 1px 0px #961108;
}
.red-button:hover {
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color:darkred;
}
.red-button:active {
    position:relative;
    top:1px;
}
.blue-button {
	box-shadow:inset 0px 39px 50px -24px #9fb4f2;
	background:linear-gradient(to bottom, #9eb5de 5%, #476e9e 100%);
	background-color:#9eb5de;
	border-radius:6px;
	border:1px solid #516296;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Ubuntu Mono', monospace, serif;
    font-size:18px;
    font-weight:bold;
    padding:6px 24px;
    margin: 1em;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.blue-button:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #9eb5de 100%);
	background-color:#476e9e;
}
.blue-button:active {
	position:relative;
	top:1px;
}

/*-------------------------------------------------------------*/
/* custom dialog box styles CANCEL and OK buttons*/
.dlg-container{
    position: absolute;
    left: 50%;
    top: -30%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    background: #fff;
    padding: 10px;
    border: 2px solid #ddd;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s linear 0s;
    z-index: 2;
}

.dlg-header{
    padding: 10px;
    font-weight: bold;
    background: #575757;
    color: #f5f5f2;
}

.dlg-body{
    padding: 10px;
    line-height: 30px;
}

.dlg-input-elem{    
    border: 1px solid #ddd;
    outline: none;
    /*width: 375px;*/
    width: 90%;
    height: 30px;
    font-size: 20px;

}

.dlg-input-elem :focus{
    box-shadow: inset 0px 0px 10px 3px #f6f6f6;
}

.dlg-footer{
    text-align: center;
    background: #f5f5f2;
    padding: 3px 0;
}

.dlg-footer a{
    display: inline-block;
    width: 100px;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #eeeeee;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 2px 2px 4px 0px #ccc;
}

.dlg-footer a:active{
    box-shadow: inset 2px 2px 4px 0px #ccc;
    color: #666;
}

.freeze-layer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/*-------------------------------------------------------------*/
/* table styles*/

table {
    border-collapse: collapse;
    /*letter-spacing: 1px;*/
    font-size: 1em;
    width: 100%;
}
  
td, th {
    border: 1px solid green;
    padding: 4px 8px;
}
  
th {
    /*background-color: #E3F2E8;*/
    background-color: rgb(239,239,235);
}

tr:nth-child(even) {
    background-color: #E3F2E8;
}
  
td {
    text-align: center;
}

tfoot td {
    text-align: left;
    font-size: 0.8em;
}
  
caption {
    padding: 10px;
}

.morse-field { /* perhaps more efficient to use nth-child() to target this column, even if class has other uses */
    white-space: nowrap;
    padding-left: 4px;
    text-align: left;
}

/* left align the notes content */
tbody tr td:nth-child(6) {
    text-align: left;
}

colgroup col:nth-child(2) {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/*-------------------------------------------------------------*/
/* form styles*/

/* form reset start vvvvvvvvvvvvv*/
button, 
input, 
select, 
textarea { 
  font-family: inherit; 
  font-size: 100%; 
  box-sizing: border-box; 
  padding: 0; margin: 0; 
} 

textarea { 
  overflow: auto; 
} 
/* form reset end ^^^^^^^^^^^^^^^^^ */

form fieldset {
    width: 90%;
    margin: 3em auto;
}

input[type=color] {
    margin: 1em;
    padding: 1px;
    display: block;
}

input[type=text], input[type=email], input[type=url],  input[type=file],select, textarea {
    width: 40%;
    margin: 1em auto;
    display: block;
}

form ul {
    margin: 0;
    padding: 0;
}

form li {
    list-style-type: none;
    margin: 1em auto;
}

.error {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 60%;
    background-color: darkred;
    padding: 4px;
}

.error.nil {
    visibility: hidden;
}

.info_msg {
    box-sizing: border-box;
}

input:invalid, textarea:invalid {
    border: darkred solid 2px;
}

input:valid, textarea:valid {
    border: lightgreen solid 2px;
}

/*-------------------------------------------------------------*/
/* END */

.verticalTest {
    font-weight: bold;
    writing-mode: vertical-rl;
    inline-size: 300px;
    block-size: 40vw;
    border: 4px solid brown;
    padding-inline-start: 20px;
    padding-block-start: 10px;

}
.verticalTest > p {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}