/* styles for detected screens  400px < width <= 600px  */

html{
    font-family: 'Ubuntu Mono', monospace, serif;
    font-size: 1em;
    /*background-color: #6495ed; cornflour blue*/
    padding-top: 4px;
    padding-bottom: 12px;
}

.configurable-background{
    background-color: #6495ed; /*cornflour blue*/
}

body{
    background-color:#ddd;
    width: 94%;
    margin: 0 auto;
    border-radius: 1em;
    padding: 4px;
    border: solid black 4px;
}

p{
    font-size: 1em;
    margin: 3px;
    padding-top: 4px;
    display: block;
}

h1{
    font-size: 1.6em;
    text-align: center;
    color:darkred;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 2px;
    border: none;
    border: solid black 2px;
}

h2{
    font-size: 1em;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 1px;
    padding: 1px;
    border: none;
}

ol{
    margin-top: 4px;
    margin-bottom: 4px;
}

li{
    font-size: 1em;
    padding-top: 1px;
    margin-top: 1px;
    line-height: 1;
    /*letter-spacing: 1px;*/
}

fieldset { 
background:none;
border: green 3px solid;
border-radius: 1em;
padding: 4px;
margin: 4px;
}

fieldset legend{
    font-size: 1em;
    font-weight: bold;
    color:darkred;
    margin-top: none;
    margin-bottom: none;
    padding: none;

}

code {
    display:block;
    width: auto;
    height: auto;
    white-space: pre-wrap;
    background: hsl(220, 80%, 90%);
}

pre {
    width: auto;
    height: auto;
    white-space: pre-wrap;
    background: hsl(30,80%,90%);
    background: hsl(220, 80%, 90%);
}

img{
    width: 300px;
    padding: 2px;
}

/*-------------------------------------------------------------*/
/* custom button styles*/
.show-button {
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #f24537 5%, darkred 100%);
    background-color: darkred;
    border-radius:6px;
    border:1px solid #d02718;
    display: block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Ubuntu Mono', monospace, serif;;
    font-size:18px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #961108;
}
.show-button:hover {
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color:darkred;
}
.show-button:active {
    position:relative;
    top:1px;
}
/*-------------------------------------------------------------*/
/* custom dialog box styles*/
.dlg-container{
    position: absolute;
    left: 50%;
    top: -30%;
    transform: translateX(-50%) translateY(30%);
    width: 300px;
    background: #fff;
    padding: 10px;
    border: 2px solid #ddd;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s linear 0s;
    z-index: 2;
}

.dlg-header{
    padding: 10px;
    font-weight: bold;
    background: #575757;
    color: #f5f5f2;
}

.dlg-body{
    padding: 10px;
    line-height: 30px;
}

.dlg-input-elem{    
    border: 1px solid #ddd;
    outline: none;
    /*width: 375px;*/
    width: 90%;
    height: 30px;
    font-size: 20px;

}

.dlg-input-elem :focus{
    box-shadow: inset 0px 0px 10px 3px #f6f6f6;
}

.dlg-footer{
    text-align: center;
    background: #f5f5f2;
    padding: 3px 0;
}

.dlg-footer a{
    display: inline-block;
    width: 100px;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #eeeeee;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 2px 2px 4px 0px #ccc;
}

.dlg-footer a:active{
    box-shadow: inset 2px 2px 4px 0px #ccc;
    color: #666;
}

.freeze-layer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}